<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        
      {% endif %}
      {% if site.show_downloads %}
      <a href="https://openscienceinitiativeuniversitymarburg.github.io" class="btn">Home</a>
        <a href="https://openscienceinitiativeuniversitymarburg.github.io/team.html" class="btn">About us</a>
      	<a href="https://webconf.hrz.uni-marburg.de/n/rooms/q2o-bf3-vtf-u8q/join" class="btn">Open Office</a>
      <a href="https://openscienceinitiativeuniversitymarburg.github.io/calendar-page.html" class="btn">Events</a>
        <a href="https://openscienceinitiativeuniversitymarburg.github.io/join.html" class="btn">Join us!</a>
        {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}

<style>
  .custom-image {
    width: 270px; /* Breite Logos */
    height: 100px; /* Höhe Logos */
  }
</style>

<p><strong>OSIUM is part of</strong></p>
<img src="./assets/images/Logo_Uni_Marburg.svg.png" alt="UMR-LOGO" class="custom-image">
<img src="./assets/images/mara-logo.jpeg" alt="MARA-LOGO" class="custom-image">
<img src="./assets/images/nosi-logo.png" alt="NOSI-LOGO" class="custom-image"> 

        <p><strong></strong>Open Science phone:</strong> +49 6421 28-25290 <br>
        <span class="site-footer-credits"><span>&#9993;</span><a href="https://www.lists.uni-marburg.de/lists/sympa/subscribe/open-science?previous_action=info" class="btn">subscribe to our mailing list</a>.</span><br>
        <span class="site-footer-credits"><span>&#9993;</span><a href="mailto:osium.contact@gmail.com">become a supporter</a>.</span>
        <span class="site-footer-credits"><span>&#9993;</span><a href="mailto:osium.contact@gmail.com">drop us a mail</a>.</span>
        <span class="site-footer-credits"><span>&#9993;</span><a href="mailto:osium.contact@gmail.com">report a barrier</a>.</span><br>
      <span class="site-footer-credits"><a href="https://openscienceinitiativeuniversitymarburg.github.io/impressum">impressum</a>.</span></p>
        
      </footer>
    </main>
  </body>
</html>
